  			<div class="col-md-8" id="input1" style="position: relative;">

  				<div class="popover bottom" id="popover1" style="top:70%; left: 50%; display: block;" ng-show="show1">
            <div class="arrow"></div>
            <h3 class="popover-title">{{popoverTitle1}}</h3>
            <div class="popover-content">
              <p>{{popoverContent1}}</p>
            </div>
          </div>

    			<div class="input-group">


    				<div class="input-group-btn btn-group" dropdown is-open="status.isopen">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span id="keuze">{{keuze}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="keuz in keuzen">
                  <a ng-click="adjustInputs($event, 'keuze');">{{keuz}}</a>
                </li>
                <li class="divider"></li>
                <li><a href="">Mathmate</a></li>
              </ul>
            </div>

            <input type="text" class="form-control" id="firstInput" ng-focus="show1 = false" ng-model="input1" style="border-right: none;">

  					<div class="input-group-btn">
              <button type="button" class="btn btn-primary" id="bereken" ng-click="bereken.reset().bereken()" ng-disabled="isBerekenDisabled">{{buttonTekst}}</button>
            </div>

          </div>
  			</div>


  			<div class="col-md-4" id="input2" style="position: relative">

          <div class="popover bottom" id="popover2" style="top:70%; left: 50%; display: block;" ng-show="show2">
            <div class="arrow"></div>
            <h3 class="popover-title">Eindpunt</h3>
            <div class="popover-content">
              <p>Typ hier het getal van de gewenste limiet v.b. tafel van 1 en de limiet is 8 wordt 1 * 1,  1 * 2, ... 1 * 7, 1 * 8  </p>
            </div>
          </div>

          <input type="text" class="form-control" ng-init="isDisabled = true" ng-disabled="isDisabled" placeholder="{{placeholder}}" id="secondInput" ng-focus="show2 = false" ng-model="input2" ng-hide="hideinput">


          <div ng-show="showTal" style="float:right;">
            <div class="btn-group" dropdown>
              <button ng-disabled="isDisabledTal" type="button"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Van talstelsel: <span ng-init="Talvan = 2">{{Talvan}}</span><span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="getal in genereer2Tot36()">
                  <a ng-click="adjustInputs($event, 'Talvan');">{{getal}}</a>
                </li>
              </ul>
            </div>
            <div class="btn-group" dropdown>
              <button type="button" ng-disabled="isDisabledTal" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Naar talstelsel: <span ng-init="Talnaar = 36">{{Talnaar}}<span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="getal in genereer2Tot36()">
                  <a ng-click="adjustInputs($event, 'Talnaar');">{{getal}}</a>
                </li>
              </ul>
            </div>
          </div>

  			</div>

        <div class="col-md-12">
          <div class="panel panel-primary" style="margin-top: 20px;">
            <div class="panel-heading">
              <h3 class="panel-title">Resultaat</h3>
            </div>
            <div class="panel-body" >
              <div class="alert alert-danger alert-dismissable" ng-show="notANumber">
  <strong>Warning!</strong> Sorry, U heeft symbolen gebruikt die niet voorkomen in dit talstelsel.
</div>
              <div class="alert alert-info alert-dismissable" ng-show="notANumber">
  <strong>Info!</strong> Gebruik A.U.B. andere symbolen of talstelsel voor een geldig omzetting.
</div>


              <p ng-bind-html="result" id="result"></p>
              <p>{{talUitkomst}}</p>
            </div>
          </div>
        </div>
