	<div style="overflow: hidden" id="game">
		<img src="images/dart/dart_background.jpg" alt="" id="background" style="position: absolute; z-index:-999; border: 2px solid black; width:900px;" >
		<img src="images/dart/you_win.png" id="win" alt="" style="">
		<img src="images/dart/dart.png" alt="" id="dart">
		<p id="points" style="left: 350px;"><span>SCORE:</span><span id="score"> 120</span> POINTS <span> </p>
		<img src="images/dart/dartboard.png" id="board" alt="">
		<img src="images/dart/game_over.png" id="lose" alt="" style="position: absolute; z-index:9999999; top: 200px; left:120px; display:none;">
	</div>

<script src="scripts/dart.js"></script>