<div id="login_wrapper">
      <div id="box">
          <div id="top_header">
              <h3>Login</h3>
              <h5>Log in om alle onderdelen te ontgrendelen</h5>
          </div>
        
        <div id="inputs">
   

        <div>
          <input type='text' name='email' id='email' value='' maxlength="50" size="30" placeholder="Email"/><br/>
        </div>
        
        <div>
          <input type='password' name='password' id='password' maxlength="50" size="30" placeholder="Wachtwoord" /><br/>
        </div>
        
        <div>
          <button id="login" ng-click="login()">Login</button>
        </div>

          <div id="bottom">
            <a href="#register">Account aanmaken</a>
          </div>
        </div>
      </div>
    </div>
    <div id="errorAlert" style="display: none;" class="alert alert-danger alert-dismissable"><strong id="error"></strong></div>
    



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
  <script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.3.0/firebase-simple-login.js'></script>

  <script>
  

  $(function(){

  


  });
  </script>