<div class="row" ng-show='!isLoggedIn'>
  <div class="col-md-12">
    <div class="alert alert-info alert-dismissable" >
      <strong> <a href="#login">Login</a> of <a href="#register">maak een account aan</a> om toegang te krijgen tot alle onderdelen.</strong>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img class="img-rounded" src="images/thumbnail/sunwukong.png">
    <div class="caption text-center">
      <h3>Shoot the pig</h3>
        <p>In het spel "Shoot the pig" speel je als sun wukong die de evil pig tegen komt. De evil pig blokkert de weg van sun wukong, waardoor sun wukong een spreuk doet om een haar naar een kanon te veranderen, zodat u de evil pig uit de weg kunt shieten.
        <h3>bediening</h3> Door middel met de muis kan je het kanon bewegen. De snelheid van het kanon wordt bepaald door de afstand van het kanon tot de muis klik</p>

      <p><a href="#" class="btn btn-warning" role="button" data-toggle="modal" data-target="#myModal" id="open" ng-disabled="!isLoggedIn">Spelen</a></p>
    </div>
  </div>
  <div class="thumbnail" style="padding:0">
    <img style="border-top-left-radius:4px; border-top-right-radius:4px; border-bottom: 1px solid #f1f2f6;" src="images/thumbnail/binary2.jpg" >
    <div class="caption text-center">
      <h3>Factorize</h3>
      <p>Hier kun je getallen ontbinden in priemfactoren</p>
      <p><a href="#klasse6/Factorize" class="btn btn-warning" role="button" ng-disabled="!isLoggedIn">Ga naar factorize</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img class="img-rounded" src="images/thumbnail/OlympicaMath.png" >
    <div class="caption text-center">
      <h3>Rekenen</h3>
      <p>Je kunt hier de tafels, machten, kwadraten en breuken berekenen met getallen naar keuzen</p>

      <br>
      <p><a href="#rekenen" class="btn btn-warning" role="button" ng-disabled="!isLoggedIn">Ga naar rekenen</a></p>
    </div>
  </div>
  <div class="thumbnail">
    <img class="img-rounded" src="images/thumbnail/dart2.png">
    <div class="caption text-center">
      <h3>Darten</h3>
      <p>Gooi pijlen naar een dartbord. Speel hier het spel darten</p>
      <h3>Bediening</h3>
        <p>Door middel van de muis kun je de dart bewegen. De snelheid wordt bepaalt door hoelang je de muis ingedrukt houdt. waneer je de muis los laat schiet de dart. </p>
      <br>
      <p><a href="#dart" class="btn btn-warning" role="button" ng-disabled="!isLoggedIn">Spelen</a></p>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-3">
  <div class="thumbnail" style="padding:0">
    <img style="border-top-left-radius:4px; border-top-right-radius:4px; border-bottom: 1px solid #f1f2f6;" src="images/thumbnail/spiral3.jpg" >
    <div class="caption text-center">
      <h3>Generate</h3>
      <p>Genereer hier een Fibonacci reeks of Priemgetallen door middel van een gewenste eindpunt.</p>
      <p><a href="#generate" class="btn btn-warning" role="button" ng-disabled="!isLoggedIn">Ga naar generate</a></p>
    </div>
  </div>
  <div class="thumbnail" style="padding:0">
    <img style="border-top-left-radius:4px; border-top-right-radius:4px; border-bottom: 1px solid #f1f2f6;" src="images/rad/rad2.png" >
    <div class="caption text-center">
      <h3>Rad</h3>
      <p>Draai het rad voor een random getal tussen 2 en 12</p>
      <p><a href="#rad" class="btn btn-warning" role="button" ng-disabled="!isLoggedIn">Ga naar rad</a></p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail" style="padding:0">
    <img style="border-top-left-radius:4px; border-top-right-radius:4px; border-bottom: 1px solid #f1f2f6;" src="images/thumbnail/binary2.jpg" >
    <div class="caption text-center">
      <h3>Talstelsel</h3>
      <p>Hier kun je een door jouw gekozen talstelsel naar een andere gekozen talstelsel omzetten</p>
      <p><a href="#klasse6/Getalstelsel" class="btn btn-warning" role="button" ng-disabled="!isLoggedIn">Ga naar talstelsel</a></p>
    </div>
  </div>
</div>

<!-- Shoot the pig -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">&times;</button>
      </div>
  <div class="modal-dialog" style="width:auto; margin: 40px auto;">

  <img src="images/background.png" alt="" style="position: absolute; z-index:-999" id="background">

  <canvas id="canvas" width="600" height="400" ></canvas>
  <div id="next" style="position: absolute; top:470px; left:850px; font-size: 20px; color: black; font-family:verdana;"><span style="font-size:25px;" class="fa fa fa-angle-double-right"></span></div>
  </div>
</div>


<script src="scripts/shoot_the_pig.js"></script>
