

<div class="row">
  <div class="col-md-4">
    <div class="pointer"></div>
    <img class="rad" src="images/rad/rad2.png" alt="" style="width: 100%" id="rad1">
  </div>
  <div class="col-md-3">
    <button id="draai" class="btn btn-danger" style="background-color:#356a78; margin-left:5em;">Draai</button>
    <div id="total_wrap">
      <div id="total"></div>
    </div>

  </div>

  <div class="col-md-4">
    <div class="pointer"></div>
    <img class="rad" src="images/rad/rad2.png" alt="" style="width: 100%" id="rad2">
  </div>
  <!--<div class="col-md-3">-->
        <!--<div id="total_wrap">-->
          <!--<div id="total"></div>-->
        <!--</div>-->

  <!--</div>-->

</div>

<script src="scripts/rad.js"></script>